#================================================
# Dependencies
#================================================
composer.phar
vendor/

#================================================
# Application runtime files
#================================================
var/
recipes/Dockerfile
recipes/php.ini

#================================================
# Application hydrated configuration files
#================================================
karma
config/built-in/*.yml
config/local/*.yml

#================================================
# Eclipse files
#================================================
.buildpath
.project
.settings/
